* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;
}
nav{
  text-align: center;
  font-size: 0px;
  height: 100%;
  line-height: 80px;
  font-weight: bold;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all ease .25s;
  display: inline-block;
  color: #bdc3c7;
  padding: 0 30px;
  font-size: 14px;
}
body {
  margin: 0 auto 122px;
  font-family: 'Exo 2', sans-serif;
  background: #ddd;
}
.home {
  background: url(../img/apple.jpg) no-repeat;
  height: 700px;
  background-size: cover !important;
  text-align: center;
  position: relative;
}
.mywork {
  background: url(../img/mywork.jpg) no-repeat;
  height: 700px;
  background-size: cover !important;
  text-align: center;
  position: relative;
}
.pages {
  width: 500px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 40px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
h2 {
  padding-bottom: 4rem;
}
.contact {
  background: url(../img/contact.jpg) no-repeat;
  height: 700px;
  background-size: cover !important;
  text-align: center;
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header h1 {
  color: #fff;
  font-size: 60px;
  padding-top: 400px;
  font-family: 'Exo 2', sans-serif;
}
section {
  overflow: auto;
  text-align: center;
  padding: 30px 0;
  background: #ddd;
}
col:first-child {background: #FF0}
col:nth-child(2n+3) {background: #CCC}

nav a:hover{
  background: #bdc3c7;
  color: #fff;
  text-decoration: none;
}
.icons {
  font-size: 40px;
  background-color: #ddd;
}
.fa {
  color: black;
  margin: 10px;
}

.p{
  margin: 0 150px;
}

.form-group {
  margin-top: 35px;
}
footer {
  background: #fff;
  line-height: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
section div {
  /*padding: 0 15px;*/
  font-size: 20px;
}
@media (max-width: 991px) {
    nav a {
        padding: 0 10px;
    }
}
@media (max-width: 991px) {
    .p {
      margin: 0 30px;
      font-size: 20px;
    }
}
